<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <title>About Page</title>
 </head>
 <body>
     {{> header}}
     <p> I'll tell you about me soon. </p>
     {{> footer}}
 </body>
</html>
 